* {
    font-family: courier;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

/* Layout */
.grid {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .grid {
        flex-direction: column;

    }
}

.grid .column {
    position: relative;
    overflow: hidden;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .grid .column {
        width: 100%;
        height: 50%;

    }
}

.grid .column img {
    position: relative;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
    opacity: 0.8;
}

.grid .column .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .grid .column .content {

        padding: 0;
        overflow: hidden;

    }
}



.grid .column .content::before,
.grid .column .content::after {
    pointer-events: none;
}

.grid .column h2 {
    word-spacing: -0.15rem;
    font-weight: 300;
}

.grid .column h2 span {
    display: block;
    font-weight: 800;
    font-size: 2.8rem;
}

.grid .column h2,
.grid .column p {
    margin: 0;
}

.grid .column p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

#logo {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 10%;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
}

@media only screen and (max-width: 600px) {
    #logo {
        top: 2%;

    }


}

#logo img {
    max-width: 100px;
    height: auto;

}

hr {
    height: 1px;
    background: black;
    border: none;
    outline: none;
    margin: 3em 3em 5em;
    position: relative;
}

hr:before {
    content: attr(data-symbol);
    position: absolute;
    top: 0;
    left: 50%;
    background: white;
    color: black;
    padding: 0.5em 1em;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

hr#one {
    width: 50%;
    margin: 2em auto;
}



@media only screen and (max-width: 600px) {
    #logo img {
        max-width: 65px;
        height: auto;

    }
}

a {
    text-transform: uppercase;
    font-size: .6rem;
    text-decoration: none;
    color: #FFF;
    display: block;
    font-family: sans-serif;
}

#photo {
    background: url("images/photoHero.jpg") no-repeat top center;
    background-size: cover;
}

#dev {
    background: url("images/codeHero.jpg") no-repeat center top;
    background-size: cover;
}

#photo .content {
    background: rgba(255, 255, 255, 0.23);
    color: black;
}

#dev .content {
    background: rgba(0, 0, 0, 0.56);

}


/*-----------------*/
/***** Hover *****/
/*-----------------*/
.effect-hover h2,
.effect-hover h3,
.effect-hover p,
.effect-hover i {
    -webkit-transition: opacity 0.35s,
        -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.effect-hover .content::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border: 3px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    /* remove this bit if you want it to swing up */
    /* -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1); */
}

@media only screen and (max-width: 600px) {
    .effect-hover .content::before {
        border: 0px;
    }
}

.effect-hover .content.photo::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border: 3px solid #0f0f0f !important;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    /* remove this bit if you want it to swing up */
    /* -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1); */
}

@media only screen and (max-width: 600px) {
    .effect-hover .content.photo::before {
        border: 0px !important;
    }
}

.effect-hover p:hover,
.effect-hover p:focus {
    opacity: 0.6;
}

/* Keeps things consistent */


.effect-hover p,
.effect-hover h3 {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

@media only screen and (max-width: 600px) {

    .effect-hover p,
    .effect-hover h3 {
        opacity: 1;
    }
}


.effect-hover:hover .content::before {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

.effect-hover:hover h2 {
    opacity: 1;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
}

.effect-hover:hover h3,
.effect-hover:hover p {
    opacity: 1;
}

.effect-hover:hover i {
    -webkit-transform: scale3d(2.5, 2.5, 2);
    transform: scale3d(2.5, 2.5, 2);
}

/* Overlays */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 99;
    overflow-x: hidden;
    background: #eee;
}

/* Block works too, but flex is more...flexible */
.overlay.open {
    display: flex;
}

.overlay .column {
    display: table;
    height: 100%;
}

.product-content {
    font-size: 1.4rem;
    padding: 10%;
    display: table-cell;
    vertical-align: middle;
}



/* Close Icon animated */
/* Thanks to @arthurhamon */
.close-icon.active {
    background: white !important;
    color: black !important;
    box-shadow: none !important;
}

/* @media only screen and (max-width: 600px) {
    .close-icon div::before {
        background: none repeat scroll 0 0 white;
    }
} */

/* Now you don't */
.close-icon div::after {
    background: none repeat scroll 0 0 #f60808;
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
}

@media only screen and (max-width: 600px) {
    .close-icon div::after {
        background: none repeat scroll 0 0 #0f0f0f;
    }
}

.close-icon:hover div::before {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
}

.close-icon:hover div::after {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}





#portfolio {
    width: 100%;
    margin: 20px 0px;
}

.tile {
    float: left;
    min-height: 100px;
    max-height: 150px;
    width: 20%;
    border: 1px #fff solid;
}

.tile:hover {
    opacity: 0.5;
}


.web {
    background: #00C5CD;
}

.flyers {
    background: #CC3232;
}

.bcards {
    background: #ddd;
}


/* Photo Nav bar  */


.wrapper {
    width: 100vw;
    color: #333;
    background: #333;
    display: flex;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        flex-direction: column;
    }

    .photo-vcard-list {

        font-size: 12px;

    }
}

.sidebar {
    flex-basis: 20%;
    background-color: white;
    color: black;
}


@media only screen and (max-width: 600px) {
    .sidebar {
        flex-basis: 0%;
        position: sticky;
    }
}

.content {
    flex: 1;
    /*     padding: 0px 30px 30px 30px; */
    background: #eee;
    /*     box-shadow: 0 0 5px black; */
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    overflow: auto;
}

#photoAbout {
    padding-top: 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.photo-vcard {
    align-self: center;
}

.photo-vcard-pic {
    align-self: center;
}

.photo-vcard-pic img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    box-shadow: 5px 2px 8px 0px rgba(0, 0, 0, 0.31);

}

.photo-vcard-list {


    list-style: none;
    padding-left: 0px;

    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.29);
}


.photo-vcard-list i {

    margin-right: 10px;

}

#photoPortfolio {}

.portfolioImgs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.grouped_elements img {
    max-width: 20rem;
    height: auto;
    /* max-height: 15rem; */
    padding: 5px;
}



.title {
    font-size: 30px;
    line-height: 22.5rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: black;
    border-bottom: 1px solid #222;
    background: #2a2a2a;
    background: url(images/logoBlack.png) no-repeat center top;
    background-size: contain;
    height: 13rem;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 15px;
        height: 3rem;
        line-height: 50px;
        text-align: center;
        background: url(images/logoBlack.png) no-repeat center top;
        background-size: contain;
        padding-left: 50px;
    }
}



.nav {
    padding-left: 0px;
    text-align: center;
    margin: 0px;
}

.nav li a {
    padding: 25px 0px;
    padding-bottom: 25px;
    font-size: 12px;
    border-bottom: 1px solid #222;
    color: black;
}

.icon {
    display: none !important;
}

@media screen and (max-width: 600px) {
    .nav-li {
        display: none;
    }



    .icon {
        color: black;
        float: right;
        display: inline-block !important;
        padding-top: 5px;
        font-size: 37px;
    }
}

.navResponsive {
    display: list-item;

}

.nav li a:hover {
    background: black;
    color: white;
}

.nav li a.active {
    box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
    background: black;
    color: white;
}


/* Lightbox */


.text-center {
    text-align: center;
    margin-bottom: 1em;
}

.lightbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lightbox-gallery div>img {
    max-width: 100%;
    display: block;
}

.lightbox-gallery div {
    margin: 10px;
    flex-basis: 180px;
}

@media only screen and (max-width: 480px) {
    .lightbox-gallery {
        flex-direction: column;
        align-items: center;
    }

    .lightbox>div {
        margin-bottom: 10px;
    }
}

/*Lighbox CSS*/

.lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding-top: 30px;
    box-sizing: border-box;
}

.lightbox img {
    display: block;
    margin: auto;
}

.lightbox .caption {
    margin: 15px auto;
    width: 50%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    color: #eee;
}


.card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 1px 2px #888;
    margin: 2em 3em
}

.card p {
    margin: 1em;
}

.card h1 {
    margin-top: 0px;
    width: 100%;
    line-height: 30px;
    background: #2d303a;
    color: #ffffff;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

@media only screen and (max-width: 600px) {
    .card {
        margin: 1em auto;
    }

}

@media only screen and (max-width: 361px) {
    .grouped_elements img {
        max-width: 15rem;
    }
}




#contact-area form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact-area input,
#contact-area textarea {
    padding: 5px;
    width: 80%;

    font-size: 14px;
    font-weight: 300;
    color: black;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid black;
    border-right: 1px solid transparent;

    margin-bottom: 15px;
}

#contact-area textarea {
    height: 10em;
    max-width: 80%;
    min-width: 80%;
    background-color: transparent;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #333;
    border-right: 1px solid transparent;

}

#contact-area textarea:focus,
#contact-area input:focus {
    color: #FFF;
    background-color: #333333cf;
    ;
    outline: none;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid #fff;
    border-right: 1px solid transparent;

}

#contact-area input.submit-button {

    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    width: 100px;
    float: left;
    background-color: transparent;
    border-top: 1px solid #333;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;

    -moz-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#contact-area input.submit-button:hover {

    color: #fff;
    background-color: #333;


}

label {
    float: left;
    text-align: left;
    margin-right: 16px;
    width: 100px;
    padding-top: 5px;
    font-family: 'Lato', calibri, arial;
    font-size: 18px;
    font-weight: 300;
}



::-webkit-input-placeholder {
    color: black;
    font-family: courier;
    font-size: 14px;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: black;
    font-family: courier;
    font-size: 14px;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: black;
    font-family: courier;
    font-size: 14px;
}

:-ms-input-placeholder {
    color: black;
    font-family: courier;
    font-size: 14px;
}


.module-card-wrap {
    max-width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.module-card {
    background: #fff;
    border: 1px solid #f1f1f1;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.05);
    min-width: 100%;
    padding: 10px;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
}

.module-card-title {
    font-size: 120%;
    font-weight: 700;
}

.module-card-meta {
    display: flex;
}

.module-card-category,
.module-card-author {
    flex: 1;
}

.module-card-author {
    text-align: right;
}

.module-card-bottom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* a flex: 1 also works here, but is buggy on IE11 */
}

.module-card-img {
    margin: 20px 0;
    align-self: center;
    width: 100%;
    height: auto;
}

.module-card-button {
    background: seagreen;
    color: white;
    border: none;
    margin-top: auto;
    padding: 10px;
}


/* ==========================================================================
   Main
   ========================================================================== */

main {
    background: #fff;

    padding: 12px 24px;
}

/* ==========================================================================
  Section 1
  ========================================================================== */

#mobile-image {
    display: none;
}

.section-1 {
    color: #222;
    margin: 0 auto;
    padding: 200px 4px;
    text-align: center;
}

.section-1 h1 {
    margin: 0 auto;
    letter-spacing: 2px;
}

.section-1 h2 {
    text-transform: uppercase;
    font-size: 1.5em;
}

/* ==========================================================================
  Portfolio - Section 2
  ========================================================================== */
#work header {
    padding: 0 12px;
}

#work header h3 {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 4px;
}


@media only screen and (max-width: 600px) {
    .row {
        display: contents;
        padding: 0px 4px;
    }
}






/* Two column layout */

.column {
    flex: 50%;
    /* Change to create more columns */
    max-width: 50%;
    /* Change to create more columns */
    padding: 0px 0px;
}

@media only screen and (max-width: 600px) {
    .column {

        max-width: 100%;
        padding: 0px 0px;
        margin: auto;
    }
}

.column img {
    /* margin-top: 16px; */
    vertical-align: middle;
}

img {
    -webkit-filter: grayscale(10%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(10%);
}

img {
    width: 100%;
    height: auto;
}

/* ==========================================================================
   About - Section 3
   ========================================================================== */

.about-content span#lead {
    font-weight: 600;
}

#about h3 {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 25px;
}

h3 {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 25px;
}

#shop h3 {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 25px;
}

section#about p {
    line-height: 1.8em;
    letter-spacing: 1px;
    text-align: left;
}

section#aboutDev p {
    line-height: 1.8em;
    letter-spacing: 1px;
    text-align: left;
}



/* ==========================================================================
   Location - Section 4
   ========================================================================== */

#location h3 {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 25px;
}

#location p {
    line-height: 2em;
    margin-bottom: 10px;
}

#location img {
    height: 300px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-info .col i {
    padding: 20px 0px;
}

/* ==========================================================================
   Contact - Section 5
   ========================================================================== */

section#contact {
    margin-bottom: 100px;
    padding: 0 12px;
}

textarea,
input {
    -webkit-appearance: none;
    border-radius: 0;
}

input,
textarea {
    width: 100%;
    background: transparent;
    padding: 20px 20px 10px 0px;
    color: #222;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    margin-bottom: 30px;
    display: block;
    transition: all 0.35s;
}

input:focus,
textarea:focus,
legend:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #222;
}

legend {
    color: #b2b2b2;
}

.link-btn-solid {
    background: #9e9e9e;
    width: 25%;
    padding: 20px 0px;
    margin: 20px 0;
    display: block;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.35s;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 2px;
}

.link-btn-solid:hover {
    background: #616161;
    color: #fff;
}

/* ==========================================================================
   Footer - Section 6
   ========================================================================== */

footer {
    text-align: center;
}

footer .myrow {
    text-align: center;
}

footer i {
    padding: 4px;
    cursor: pointer;
    transition: all 0.35s;
    color: #404040;
}

footer i:hover {
    color: #fff;
}

/*
==================================================
Grid Layout
==================================================
*/

.myrow {
    display: flex;
    margin: 0 0 20px 0;
}

.col {
    padding: 20px;
}

@media only screen and (max-width: 600px) {

    .col {
        padding: 0px;
    }
}

.myrow .col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.myrow-halves,
.myrow-thirds,
.myrow-fourths {
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}


@media only screen and (max-width: 600px) {

    .myrow-halves,
    .myrow-thirds,
    .myrow-fourths {
        display: inline;
    }
}

.myrow-halves .col {
    width: 49%;
}

.myrow-thirds .col {
    width: 32%;
}

.myrow-fourths .col {
    width: 24%;
}


.shopify-buy-frame--product {

    display: inline-block !important;
}

/* cards */
.IA_window {
    display: block;
    max-width: 900px;
    width: 100%;
    height: 339px;
    position: relative;
    overflow: hidden;
    margin: 40px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 30px #aaa;
    transition: 0.5s;
}

@media only screen and (max-width: 600px) {
    .IA_window {

        height: 215px;

    }

}

.IA_window.f_scr {
    max-width: 100%;
    width: 77vw;
    height: 81vh;
}

.IA_window .bar {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    background: #ddd;
    background: linear-gradient(#eee, #ddd);
}

.IA_window .bar .buttons {
    position: absolute;
    top: 0px;
    left: 5px;
}

.IA_window .bar .buttons span {
    cursor: pointer;
    display: inline-block;
    top: -3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.IA_window .bar .buttons span:nth-of-type(1) {
    background: #ef5350;
    background: linear-gradient(#e57373, #ef5350);
}

.IA_window .bar .buttons span:nth-of-type(2) {
    background: #ffd54f;
    background: linear-gradient(#ffee58, #ffd54f);
}

.IA_window .bar .buttons span:nth-of-type(3) {
    background: #66bb6a;
    background: linear-gradient(#a5d6a7, #66bb6a);
}

.IA_window .bar .link {
    position: absolute;
    bottom: 5px;
    left: 15px;
    padding: 0px 5px;
    color: #aaa;
    width: 90%;
    border: 1px solid #ddd;
    font-size: 13px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
}

.IA_window .bar p {
    position: absolute;
    top: 2px;
    left: 50%;
    transform: translate(-50%, 0px);
    font-size: 10px;
    color: #666;
}

.IA_window .bar .full_scr {
    position: absolute;
    display: block;
    top: 2px;
    right: 2px;
    cursor: pointer;
}

.IA_window .bar .full_scr i {
    color: #aaa;
    font-size: 15px;
    pointer-events: none;
}

.IA_window .site {
    position: relative;
    top: 0px;
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
}

.IA_window .site::-webkit-scrollbar {
    width: 0.5em;
    background-color: #f1f1f1;
}

.IA_window .site::-webkit-scrollbar-thumb {
    background-color: #cdcdcd;
}

.IA_window .site img {
    width: 100%;
    display: block;
    pointer-events: none;
}

.IA_window .site iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}


/* //////////////////////// */




html,
body,
h1,
h2,
h3,
h4,
h5,
ul,
li,
figure,
p,
iframe {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.phone:after,
.phone .camera:before,
.phone .camera:after,
.phone .screen,
.phone .screen:after,
.phone .top div,
.phone .camera,
.phone .speaker:after,
.phone .bottom div,
.phone .bottom:before,
.phone .bottom:after,
.iphone .side-buttons div,
.iphone:before,
.iphone .side-buttons:before,
.iphone .side-buttons:after,
.phone:before,
.phone .top:after,
.phone .bottom div:before,
.iphone .side-buttons,
.phone,
.phone .top,
.phone .bottom,
.phone .speaker {
    position: absolute;
}

.phone:after,
.phone .camera:before,
.phone .camera:after,
.phone .screen,
.phone .screen:after,
.phone .top div,
.phone .camera,
.phone .speaker:after,
.phone .bottom div,
.phone .bottom:before,
.phone .bottom:after,
.iphone .side-buttons div {
    margin: auto;
}

.phone:after,
.phone .camera:before,
.phone .camera:after,
.phone .screen,
.phone .screen:after,
.phone .top div,
.phone .camera,
.phone .speaker:after,
.phone .bottom div,
.phone .bottom:before,
.phone .bottom:after {
    right: 0px;
    left: 0px;
}

.phone:after,
.phone .camera:before,
.phone .camera:after,
.phone .screen,
.phone .screen:after,
.iphone .side-buttons div {
    top: 0px;
    bottom: 0px;
}



.iphone:before,
.iphone .side-buttons:before,
.iphone .side-buttons:after,
.phone:before,
.phone:after,
.phone .top:after,
.phone .camera:before,
.phone .camera:after,
.phone .speaker:after,
.phone .bottom div:before,
.phone .bottom:before,
.phone .bottom:after,
.phone .screen:after {
    content: ' ';
}

img {
    width: 100%;
}

.iphone {
    position: relative;
    margin: 25px auto;
    width: 281px;
    height: 591px;
    display: none;
}

@media only screen and (max-width: 600px) {
    .iphone {

        position: relative;
        margin: 25px auto;
        width: 281px;
        height: 591px;
        display: contents;
    }
}

.iphone:before {
    background: #1e1e1e;
    width: 45px;
    height: 4px;
    top: 0px;
    right: 47px;
    border-radius: 2px;
}

.iphone .side-buttons {
    height: 125px;
    width: 4px;
    top: 84px;
}

.iphone .side-buttons div,
.iphone .side-buttons:before,
.iphone .side-buttons:after {
    background: #1e1e1e;
    width: 4px;
    border-radius: 2px;
}

.iphone .side-buttons:before,
.iphone .side-buttons:after {
    background: #1d1d1d;
}

.iphone .side-buttons:before {
    height: 26px;
}

.iphone .side-buttons div,
.iphone .side-buttons:after {
    height: 20px;
    bottom: 0px;
}

.iphone .side-buttons div {
    top: 6px;
}

.phone {
    bottom: 0px;
    right: 0px;
    width: 278px;
    height: 588px;
}

.phone:before {
    width: 100%;
    height: 100%;
    border: 20px solid #1d1d1d;
    border-radius: 40px;
}

.phone:after {
    width: 270px;
    height: 580px;
    border: 3px solid;
    border-top-color: #252525;
    border-left-color: #252525;
    border-right-color: #212121;
    border-bottom-color: #212121;
    border-radius: 35px;
}

.phone .top,
.phone .bottom {
    height: 83px;
    width: 100%;
    background: #1d1d1d;
}

.phone .bottom {
    bottom: 0px;
    border-radius: 0px 0px 40px 40px;
}

.phone span {
    display: block;
}

.phone .top {
    top: 0px;
    border-radius: 40px 40px 0px 0px;
    overflow: hidden;
}

.phone .top div {
    top: 23px;
    width: 55px;
    height: 35px;
}

.phone .top:after {
    top: -50px;
    right: 0px;
    width: 150px;
    height: 160px;
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0));
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0));
    background: -moz-linear-gradient(right, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0));
    background: linear-gradient(to right, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0));
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.phone .camera {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid;
    border-top-color: #1e1e1e;
    border-left-color: #262626;
    border-right-color: #1e1e1e;
    border-bottom-color: #262626;
}

.phone .camera:before,
.phone .camera:after {
    border-radius: 50%;
}

.phone .camera:before {
    width: 12px;
    height: 12px;
    background: -webkit-linear-gradient(top, #0f0f0f, #1f1f1f);
    background: -o-linear-gradient(bottom, #0f0f0f, #1f1f1f);
    background: -moz-linear-gradient(bottom, #0f0f0f, #1f1f1f);
    background: linear-gradient(to bottom, #0f0f0f, #1f1f1f);
}

.phone .camera:after {
    width: 6px;
    height: 6px;
    border: 2px solid #2a2a2a;
    background: #1d1d1d;
}

.phone .speaker {
    bottom: 0px;
    width: 53px;
    height: 13px;
    background: #2a2a2a;
    border-radius: 10px;
    z-index: 10;
}

.phone .speaker:after {
    width: 54px;
    height: 12px;
    border: 3px solid;
    border-top-color: #181818;
    border-left-color: #181818;
    border-right-color: #111;
    border-bottom-color: #1e1e1e;
    border-radius: 10px;
}

.phone .bottom {
    bottom: 0px;
    border-radius: 0px 0px 40px 40px;
}

.phone .bottom div {
    top: 18px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #484848;
}

.phone .bottom:before,
.phone .bottom:after {
    bottom: 0px;
    height: 6px;
    border-radius: 100%;
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}

.phone .bottom:before {
    background: rgba(0, 0, 0, 0.6);
    bottom: -2px;
    width: 76%;
    opacity: 0.8;
}

.phone .bottom:after {
    background: rgba(0, 0, 0, 0.5);
    bottom: -3px;
    width: 90%;
    opacity: 0.3;
    height: 5px;
}

.phone .screen {
    top: 0px;
    width: 242px;
    height: 424px;
    border-radius: 3px;
    border: 3px solid;
    border-top-color: #252525;
    border-left-color: #252525;
    border-right-color: #212121;
    border-bottom-color: #252525;
}

.phone .screen:after {
    left: -1px;
    width: 238px;
    height: 421px;
    border: 2px solid #000;
    border-radius: 3px;
}

.col.s6.m2.l2 {
    font-size: 4rem;
}

@media only screen and (max-width: 600px) {
    .col.s6.m2.l2 {
        text-align: center;
    }
}


#images-wrapper {
    line-height: 0;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    -moz-column-count: 2;
    -moz-column-gap: 0px;
    column-count: 2;
    column-gap: 0px;
}

#images-wrapper img {
    width: 100% !important;
    height: auto !important;
}

#images-wrapper {
    display: block;
    margin-right: auto;
    margin-left: auto;
}



/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;

    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    /* background-color: #fefefe; */
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
    /* height: 90vh;
    width: 90vw; */
    height: 100vh;
}


.modal-content img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    z-index: 9999;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* /////////// */


/* #images-wrapper>ul {
    margin-bottom: 0;
    padding-left: 15px;
} */

#images-wrapper>ul>li {
    /* margin-bottom: 15px;
    width: 180px;
    display: inline-block;
    margin-right: 15px; */
    list-style: outside none none;
}

#images-wrapper>ul>li a {
    /* border: 3px solid #FFF;
    border-radius: 3px;
    display: block; */
    overflow: hidden;
    position: relative;
    float: left;
}

#images-wrapper>ul>li a>img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}

#images-wrapper>ul>li a:hover>img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}

#images-wrapper>ul>li a:hover .gallery-poster>img {
    opacity: 1;
}

#images-wrapper>ul>li a .gallery-poster {

    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}

#images-wrapper>ul>li a .gallery-poster>img {
    width: fit-content !important;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

#images-wrapper>ul>li a:hover .gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}

#images-wrapper .justified-gallery>a>img {
    -webkit-transition: -webkit-transform 0.15s ease 0s;
    -moz-transition: -moz-transform 0.15s ease 0s;
    -o-transition: -o-transform 0.15s ease 0s;
    transition: transform 0.15s ease 0s;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    height: 100%;
    width: 100%;
}

#images-wrapper .justified-gallery>a:hover>img {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
}

#images-wrapper .justified-gallery>a:hover .gallery-poster>img {
    opacity: 1;
}

#images-wrapper .justified-gallery>a .gallery-poster {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: background-color 0.15s ease 0s;
    -o-transition: background-color 0.15s ease 0s;
    transition: background-color 0.15s ease 0s;
}

#images-wrapper .justified-gallery>a .gallery-poster>img {
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
}

#images-wrapper .justified-gallery>a:hover .gallery-poster {
    background-color: rgba(0, 0, 0, 0.5);
}

#images-wrapper .video .gallery-poster img {
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    opacity: 0.8;
    width: 48px;
}

#images-wrapper.dark>ul>li a {
    border: 3px solid #04070a;
}