* {
    font-family: courier;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
}

/* Layout */
.grid {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.grid .column {
    position: relative;
    overflow: hidden;
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.grid .column img {
    position: relative;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
    opacity: 0.8;
}

.grid .column .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.3rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .grid .column .content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 0;
        color: #fff;
        text-transform: uppercase;
        font-size: 1.3rem;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
}



.grid .column .content::before,
.grid .column .content::after {
    pointer-events: none;
}

.grid .column h2 {
    word-spacing: -0.15rem;
    font-weight: 300;
}

.grid .column h2 span {
    display: block;
    font-weight: 800;
    font-size: 2.8rem;
}

.grid .column h2,
.grid .column p {
    margin: 0;
}

.grid .column p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

#logo {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 10%;
    -webkit-transform: translateY(-10%);
    -ms-transform: translateY(-10%);
    transform: translateY(-10%);
}

#logo img {
    max-width: 100px;
    height: auto;

}

a {
    text-transform: uppercase;
    font-size: .6rem;
    text-decoration: none;
    color: #FFF;
    display: block;
    font-family: sans-serif;
}

#photo {
    background: url("images/photoHero.jpg") no-repeat top center;
    background-size: cover;
}

#dev {
    background: url("images/codeHero.jpg") no-repeat center top;
    background-size: cover;
}

#photo .content {
    background: rgba(255, 255, 255, 0.23);
    color: black;
}

#dev .content {
    background: rgba(0, 0, 0, 0.56);

}


/*-----------------*/
/***** Hover *****/
/*-----------------*/
.effect-hover h2,
.effect-hover h3,
.effect-hover p,
.effect-hover i {
    -webkit-transition: opacity 0.35s,
        -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

.effect-hover .content::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border: 3px solid #fff;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    /* remove this bit if you want it to swing up */
    /* -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1); */
}

@media only screen and (max-width: 600px) {
    .effect-hover .content::before {
        border: 0px;
    }
}

.effect-hover .content.photo::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    border: 3px solid #0f0f0f !important;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    /* remove this bit if you want it to swing up */
    /* -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(0, 0, 1); */
}

@media only screen and (max-width: 600px) {
    .effect-hover .content.photo::before {
        border: 0px !important;
    }
}

.effect-hover p:hover,
.effect-hover p:focus {
    opacity: 0.6;
}

/* Keeps things consistent */


.effect-hover p,
.effect-hover h3 {
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}

@media only screen and (max-width: 600px) {

    .effect-hover p,
    .effect-hover h3 {
        opacity: 1;
    }
}


.effect-hover:hover .content::before {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
    transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -45deg) scale3d(1, 1, 1);
}

.effect-hover:hover h2 {
    opacity: 1;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
}

.effect-hover:hover h3,
.effect-hover:hover p {
    opacity: 1;
}

.effect-hover:hover i {
    -webkit-transform: scale3d(2.5, 2.5, 2);
    transform: scale3d(2.5, 2.5, 2);
}

/* Overlays */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    display: none;
    z-index: 99;
    overflow-x: hidden;
    background: #eee;
}

/* Block works too, but flex is more...flexible */
.overlay.open {
    display: flex;
}

.overlay .column {
    display: table;
    height: 100%;
}

.product-content {
    font-size: 1.4rem;
    padding: 10%;
    display: table-cell;
    vertical-align: middle;
}

.price {
    color: #34d5cf;
    margin: 1vw 0;
}

.currency {
    font-weight: 700;
    font-size: 1rem;
}

.amount {
    font-size: 1.6rem;
    vertical-align: top;
    font-family: sans-serif;
}

/* button */
.buy-button {
    height: 50px;
    width: 100%;
    margin: 2rem 0;
    position: relative;
    background: #eee;
    border: 3px solid #f9efb2;
}

.buy-button>span {
    display: block;
    position: relative;
    font-weight: 700;
    font-size: 1rem;
    text-transform: uppercase;
    color: #1f1f22;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    z-index: 10;
    line-height: 60px;
}

.buy-button::after,
.buy-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 3px solid #f9efb2;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s, ease-in-out .3s;
}

.buy-button::before {
    background: #FFF;
    margin: 0px 0 0 0px;
    top: 5px;
    left: 5px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    z-index: 1;
}

.buy-button:hover span,
.buy-button:hover::before {
    transform: translate3d(-4px, -4px, 0px);
}

.buy-button:hover::before {
    background: #f9efb2;
}

.size-guide-link {
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
    font-size: .8rem;
}

.underline-link {
    overflow: hidden;
    padding-bottom: .5vh;
    position: relative;
}

.underline-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: #202023;
    -webkit-transform-origin: left;
    transform-origin: left;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;

}

.underline-link.active::before,
.underline-link.hovered::before,
.underline-link:hover::before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* Close Icon animated */
/* Thanks to @arthurhamon */
.close-icon {
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    top: 4%;
    right: 2%;
}

/* Test your cubic beziers here http://cubic-bezier.com/ */
.close-icon div {
    display: block;
    height: 3px;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0.4s cubic-bezier(0.19, 1, 0.22, 1) 0s;
    width: 36px;

}

.close-icon div:first-child {
    transform: translate3d(0px, 10px, 0px) rotate3d(0, 0, 1, -45deg);
}

.close-icon div:first-child::after,
.close-icon div:first-child::before {
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0s, opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

.close-icon div:last-child {
    transform: translate3d(0px, 8px, 0px) rotate3d(0, 0, 1, 45deg);
}

.close-icon div:last-child::after,
.close-icon div:last-child::before {
    transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, opacity 0.2s cubic-bezier(0.19, 1, 0.22, 1) 0.18s;
}

.close-icon div::after,
.close-icon div::before {
    content: "";
    display: block;
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
}

/* Now you see it */
.close-icon div::before {
    background: none repeat scroll 0 0 #0f0f0f;
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

/* Now you don't */
.close-icon div::after {
    background: none repeat scroll 0 0 #f60808;
    opacity: 0;
    transform: translate3d(100%, 0px, 0px);
}

.close-icon:hover div::before {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
}

.close-icon:hover div::after {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}





#portfolio {
    width: 100%;
    margin: 20px 0px;
}

.tile {
    float: left;
    min-height: 100px;
    max-height: 150px;
    width: 20%;
    border: 1px #fff solid;
}

.tile:hover {
    opacity: 0.5;
}


.web {
    background: #00C5CD;
}

.flyers {
    background: #CC3232;
}

.bcards {
    background: #ddd;
}


/* Photo Nav bar  */


.wrapper {
    width: 100vw;
    color: #333;
    background: #333;
    display: flex;
}

.sidebar {
    flex-basis: 20%;
}


.content {
    flex: 1;
    padding: 0px 30px 30px 30px;
    background: #eee;
    box-shadow: 0 0 5px black;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    overflow: auto;
}

#photoAbout {
    padding-top: 0px;
    padding-bottom: 100px;
}

#photoPortfolio {
    padding-bottom: 100px;

}



.title {
    font-size: 16px;
    line-height: 125px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    color: #eee;
    border-bottom: 1px solid #222;
    background: #2a2a2a;
    background: url(images/logoBlack.png) no-repeat center top;
    background-size: contain;
    height: 9rem;
}



.nav {
    padding-left: 0px;
    text-align: center;
}

.nav li a {
    padding-bottom: 15px;
    font-size: 12px;
    border-bottom: 1px solid #222;
}



.nav li a:hover {
    background: #444;
}

.nav li a.active {
    box-shadow: inset 5px 0 0 #5b5, inset 6px 0 0 #222;
    background: #444;
}


/* Lightbox */


.text-center {
    text-align: center;
    margin-bottom: 1em;
}

.lightbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lightbox-gallery div>img {
    max-width: 100%;
    display: block;
}

.lightbox-gallery div {
    margin: 10px;
    flex-basis: 180px;
}

@media only screen and (max-width: 480px) {
    .lightbox-gallery {
        flex-direction: column;
        align-items: center;
    }

    .lightbox>div {
        margin-bottom: 10px;
    }
}

/*Lighbox CSS*/

.lightbox {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding-top: 30px;
    box-sizing: border-box;
}

.lightbox img {
    display: block;
    margin: auto;
}

.lightbox .caption {
    margin: 15px auto;
    width: 50%;
    text-align: center;
    font-size: 1em;
    line-height: 1.5;
    font-weight: 700;
    color: #eee;
}